//-------------------------
//---------------ICOMOON ICONS
//-------------------------

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7x10xz');
  src:  url('../fonts/icomoon.eot?7x10xz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7x10xz') format('truetype'),
    url('../fonts/icomoon.woff?7x10xz') format('woff'),
    url('../fonts/icomoon.svg?7x10xz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "\e906";
  color: #fff;
}
.icon-heart:before {
  content: "\e907";
}
.icon-education:before {
  content: "\e908";
}
.icon-left-arrow:before {
  content: "\e909";
}
.icon-store:before {
  content: "\e90a";
}
.icon-wall-pic:before {
  content: "\e90b";
}
.icon-printer:before {
  content: "\e90c";
}
.icon-right-arrow:before {
  content: "\e90d";
}
.icon-star:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e900";
}
.icon-tent:before {
  content: "\e901";
}
.icon-question:before {
  content: "\e902";
}
.icon-planet:before {
  content: "\e903";
}
.icon-brain:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
  color: #fff;
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
