//-------------------------
//---------------TYPOGRAPHY
//-------------------------

@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Nunito:300,400,600,700,900|Roboto+Slab:300,400,700');

//------FONT-FACE

 @include fontFace (fontello, fontello, null, null, eot woff ttf svg);


//------FONT-SIZE

body {
    font-size: 100%;
    font-family: $baseFont;
    color: black;
}

$baseFontSize: 10px; // DO NOT CHANGE THIS

html {
    font-size  : $baseFontSize;
  //change this part
    @include breakpoint (desktop--Large) {
        font-size: 10px; // > 1470
    }
    @include breakpoint (desktop) {
        font-size: 0.680272108843537vw; //10px - 1470px
    }
    @include breakpoint (tablet--landscape) {
        font-size: 0.9765625vw; //10px - 1024px
    }
     @include breakpoint(mobile) {
        font-size: 1.5625vw; //10px - 1024px
    }
}





//------GLOBAL FONT SETTINGS
body {
    font-size: 100%;
    font-family: $baseFont;
}

//------DEFAULT STYLES
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
u {
    text-decoration: underline;
}

//------STYLES
h1 {
    font-size: 7.2rem;
}
