//-------------------------
//--------MIXIN BREAKPOINTS
//-------------------------

/* EXAMPLE
*    @include breakpoint (phone) {
*        width: 40%;
*    }
*/



@mixin breakpoint($point) {
    @if $point == desktop--Large {//max-width = 1470px
        @media (min-width: $desktop)                       { @content; }
    }
    @if $point == desktop {//max-width = 1400px
        @media (max-width: $desktop)                               { @content; }
    }
    @else if $point == tablet--landscape {//max-width = 1024px
        @media (max-width: $tablet--landscape)                             { @content; }
    }
    @else if $point == tablet {//max-width = 768px
        @media (max-width: $tablet)                             { @content; }
    }
    @else if $point == mobile {//max-width = 640px
        @media (max-width: $mobile)                             { @content; }
    }
    @else if $point == mobile--s {//max-width = 480px
        @media (max-width: $mobile)                             { @content; }
    }
    @else if $point == exeptGadgets {
        @media (min-width: $tablet + 1)                     { @content; }
    }
}


//------MEDIA QUERIES
$desktop            : 1470px;
$tablet--landscape  : 1024px;
$tablet             : 768px;
$mobile             : 640px; 
$mobile--s          : 480px; 
