//---------------------------
//------------  SITE WRAPPER
//---------------------------

.siteWrapper {
	width: 100%;
	height: auto;
	max-width: 1470px;
	margin: 0 auto;
	overflow: hidden;
	background-color: $c-white;
}