//---------------------------
//------------ WRAPPERS, CONTAINERS...
//---------------------------

.siteWrapper {
	padding-top: 10rem;
	background-color: $c-seaBlue;
	background-image: url('../images/bg-fish.png');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	@include breakpoint(tablet--landscape) {
		padding-top: 0;
	}
}
.siteMain {
	width: 100%;
	height: auto;
	max-width: 1470px;
	margin: 0 auto;
	overflow: visible;
	background-color: $c-white;
}

.articleMain {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.shadow-helper {
	position: relative;
	@include vendor-prefixes(box-shadow, 0px 0px 26px 9px rgba(0,0,0,0.4));
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) { 
  
	background-image: url('../images/bg-fish-retina.png');
}
